{% extends 'base.html.twig' %}

{% block title %}Edit
{% endblock %}

{% block body %}

	<div class="flex items-center justify-center w-full mt-5">
		<div>
			<div>{{ form_start(form) }}</div>
			<div>
				{{ form_errors(form) }}
			</div>
			<div>
				{{ form_label(form.product,'Please Enter the Product Name') }}
			</div>
			<div>
				{{ form_widget(form.product) }}
			</div>

			<div class="mt-2">
				{{ form_label(form.price,'Price') }}
			</div>
			<div>
				{{ form_widget(form.price) }}
			</div>

			<div class="mt-2">
				{{ form_label(form.description,'Description') }}
			</div>
			<div>
				{{ form_widget(form.description) }}
			</div>

			<div class="mt-2">
				{{ form_label(form.category,'Category ') }}
			</div>
			<div class="mt-2">
				{{ form_widget(form.category) }}
			</div>

			<div>
				{{ form_widget(form.image) }}
			</div>
			<div class="mt-3">
				<button class="bg-slate-50 py-2 px-5 border-2 hover:bg-slate-600 hover:text-white">
					Save
				</button>
			</div>
			<div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
